body {
    font-family: Roboto, sans-serif ;
    background-color: var(---third-title-color);

    }
    
ul {
list-style: none;
}
:root {
---main-btn-color: #212121;
---second-btn-color:#2196F3;
---main-title-color:#212121;
---second-title-color: #757575;
---third-title-color:#FFFFFF;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.conteiner-work {
    width: 1200px;
    margin: 0 auto;
    
}
.conteiner-people {
    width: 1200px;
    margin: 0 auto;
}
.conteiner-contacts {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-about {
    padding-bottom: 0;
}
.text {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(---second-title-color);
}
.text1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(---main-btn-color);
}
.main-header-link {
    font-family: "Relaway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

}

.menu {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;    
    color: #212121;
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    margin-top: 0;
}

.header-link1 {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(---second-btn-color);
}

.header-contacts  {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(---main-btn-color);
}
.header-link:hover  {
    color: var(---second-btn-color);
}
.header-link:focus {
    color: var(---second-btn-color);

}
.main-header-nav {
    width: 1200px;
    height: 80px;
    display: flex;
    align-items: center;
}
.header {
    border-bottom: 1px solid #ECECEC; ;
}
.header-list {
    display: flex;
    margin-left: 93px;
    padding: 0;

}
.header-item {
    margin-right: 50px;
    color: var(---main-btn-color);
    margin-left: 0;

}
.header-item :not(:last-child) 
{
    margin-right: 50px;
}
.hero-item :not(:last-child)  {

    margin-right: 30px;
}

.hero-list :not(:last-child) {
    margin-right: 30px;
}
.auth-nav {
    display: flex;
    margin-left: auto;
}

.header-contact {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(---second-title-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(---main-title-color)
    
}

.current1 {
    color: var(---second-btn-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}
.current1:hover .current1:hover {
    color: var(---second-btn-color);
}

.current1:focus .current1:focus  {
    color: var(---second-btn-color);
}

.hero {
    padding: 200px 0px;
    margin: auto;
    background-color: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(---third-title-color);
}
.hero-title {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    justify-content: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(---third-title-color);
    margin: auto;
    max-width: 650px;
}
.hero-list {
    padding-left: 0;
    display: flex;
    margin: 0;
    
}

.about-work {
    flex-basis: calc (100%/3-30px);
    padding-left: 0 auto;
    margin-right: 30px;
    display: flex;

}
.hero-btn {
    background-color: var(---second-btn-color);
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(---third-title-color);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
}

.hero-btn:hover {
    background-color: #188CE8;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(---main-btn-color)
}
.list-section .hero-list {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.section-title-work .about-work {
    display: flex;
    justify-content: space-between;
    padding:0;
    margin-top: 0px;
    margin-bottom: 50px;
    
  
}
.about1 {
    display: block;
    display: flex;
    flex-basis: calc (100%/3-30px);
    justify-content: space-between;
    padding: 0 auto;
    padding: 0;
    margin: 0;
}
.about-work {
    padding: 0 auto;
    width: calc (100%/3-30px);
}
.card-set {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;   
    color: var(---main-btn-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    margin-top: 0;

}

.about2-link {
    flex-basis: calc (100%/3-30px);
    margin-left: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}

.about-work {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(---second-title-color);
    list-style: none;
    margin-bottom: 0px;
    
}
.names {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(---main-btn-color);
    margin-top: 0 ;
}
.about-us{
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    justify-content: space-between;
    color: var(---main-title-color);
    
}
.about1-link  :not(:last-child)
{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(---main-title-color);
  

}
.about1-link {
    background: #FFFFFF;
    margin-right: 30px;
}

.about {
    font-weight: 400;
    font-size:16px;
    line-height:1.88;
    letter-spacing:0.03em;
    color: var(---second-title-color);
    margin: 0;
}
.about1-link {
    list-style: none;
}
.about-list {
    margin-right: 30px;
}
.about2 {
    list-style: none;
}
.car-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(---main-btn-color);
        margin-bottom: 4px;
}
.button-all {
    font-family: Roboto; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(---main-btn-color);
    border-radius: 4px;
    border:none;
    padding: 6px 22px;
    text-align: center;
    margin-right: 8px;
 
}
.button-all-main {
    background-color: var(---second-btn-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(---third-title-color);
    list-style: none;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    text-align: center;
    margin-right: 8px;
}
.about-us {
    background-color: #F5F4FA;
}
.contacts {
    background-color: #2F303A;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(---second-btn-color);
    padding-top: 60px;
    padding-bottom: 60px;

    
}
.adress {
    list-style: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(---third-title-color);
    padding: 0;
    }
.address-list {
    font-family: "Relaway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-decoration: none;
}
.adress-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(---third-title-color);
    text-decoration: none;
}

.adress-link2 {
    font-style: normal;
    color: var(---second-title-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.card {
    padding: 20px 24px;
}
/* Цвет основного текста color: #212121; */
/* вторичный цвет текста color: #757575; */
/* белый color: #FFFFFF; */
/* акцент  color: #2196F3; */
/* вторичный цвет фона #2F303A */
